*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: black;
    
}
#navbar{
    display: flex;
    justify-content:space-between;
    background-color: #f5efed;
    position: sticky;
    top:0;
font-family: 'Poppins', sans-serif;
}
#left{
    display:flex;
}
#left h3{
   margin: 20px;
}
#left h3 a{
    padding:5px;
    text-decoration: none;
}

#right{
    display:flex;
}
#right h3{
   margin: 20px;
}
#right h3 a{
    padding:5px;
    text-decoration: none;
}
#btn{
    margin: 20px;
    width:150px;
    height: 35px;
    padding:5px;
    color:antiquewhite;
    background-color: red;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
}
.img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid;
    font-size: 20px;
    text-align: center;
    margin-top: -15px;
}
#inside_bucket{
    font-size: 10px;
    text-align: center;
}
#track{
    width: 100%;
    height: 50px;
    background-color: black;
    /* overflow: scroll; */
    
}
#track a{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-size: 12px;

}
#track h2{
    color: antiquewhite;
    margin-top: 5px;
    font-family: 'Baloo Bhaijaan 2';
}
.fa-solid{
    color:red;
    margin-top: 0px;
    margin-right: 5px;
}
.btn{
    margin: 8px 0px 0px 3%;
    color: antiquewhite;
    background-color: red;
    border-radius: 10px;
    width:10%;
    padding: 5px;
    height: auto;
    cursor: pointer;
    font-family: 'Baloo Bhaijaan 2';
    font-size: 18px;
}
#rupee{
    display:flex;
    justify-content: center;
}
.rup{
    margin-left:5px;
}
#food-container{
    /* background: url(../image/empty_cart.png); */
    /* background-repeat:no-repeat; */
    /* background-size:auto; */
    height:auto;
    width: 100%;
    display:flex;
    justify-content: space-between;    
}
#parent{
    display:flex;
    align-Items:center;
    margin-top:20px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background-color: aliceblue;
    opacity: 0.9;
    border-radius: 15px;
}
.foodp{
    margin-left: 20px;
    
}
.ffood{
    height:auto;
    width: 60%;
}
.food{
    height:auto;
    width: 100%; 
}
.cont{
    margin: 5%;
    width:90%;
}
.conatiner{
    border:1px solid;
}
#payment{
    margin:2% 5% 0px 0px;
    border:1px solid;
    width: 25%;
    height:400px;
    background-color: white;
    opacity: 1;
}
#payment h2{
    margin: 2%;
}
#payment div{
text-align: center;
}
.three{
margin-left:2rem;
}
.int-bill{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 2%;
}
.extra{
    display:flex;
    margin: 20px 0px 20px 0px;
}
.check{
    margin: 5px;
}
.carry{
    margin-left: 10px;
    font-size: 14px;
}
.donation{
    display: flex;
    justify-content: space-between;
}
.checkanddon{
    display: flex;
    width: 60%;
}
#checkout{
    width: 96%;
    text-align: center;
    font-size: 20px;
    color: #f5efed;
    margin: 2%;
    margin-top: 20px;
    padding: 5px;
    background-color: red;
    cursor: pointer;
}
#horizontal{
    height: 300px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,20%);
    /* grid-template-rows: 0; */
    grid-gap:20px;
    background-color: black;
    overflow-x:auto;

}
#horizontal>div{
    position: relative;
    Top: 30px;
    
}
#top{
    display:flex;
    justify-content:space-around;
    margin-top: 10px;
    border-bottom:1px solid gray ;
}
.checkoutp img{
    margin-top: 20px;
}
.checkoutp{
    
}
#needs{
    margin: 20px;
    width:150px;
    height: 35px;
    padding:5px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
}
#belowTop{
    margin-left: 11rem;
}
.secure{
    text-align: center;
    margin-left: -200px;
    color: gray;
}
#mid{
    display: flex;
    justify-content:space-around;
    margin: 50px;
}
#deliv{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;

}
.deliHead{
    margin: 20px;
}
#deliAdd{
    margin: 20px;
    margin-top: 20px;
}
#chkpage{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width:300px;
    height: 300px;

}
.belowbor{
    border-bottom: 1px solid gray;
}
#contact{
    height: auto;
    display: flex;
    flex-direction: column  ;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.contactG{
    margin: 20px;
    padding: 20px;
    width: 50%;
    margin-left: 10%;
    border-radius: 15px;
    font-size: 20px;
    border:none;
    border-bottom: 1px solid gray;
    outline: none;
}
.conthead{
    color:red;
    margin-left:11%;
}  
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} 
#submit{
    margin: 20px;
    width:150px;
    height: 35px;
    padding:5px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    background-color: red;
    margin-left:11%;
    color: antiquewhite;
}
.need{
    margin-top: 20px    ;
}