#bag{
    display: flex;
}
#image{
    width: 50px;
    height: 20px;
    margin-top: -20px;
}
img{
    width: 100%;
}
#items{
    margin-left: -30px;
    margin-top: -17px;
}
#kfc>img{
    width: 100%;
}
#left{
    display: flex;
    gap: 30px;
    font-weight: bold;
}
#right{
    display: flex;
    gap: 15px;
    font-weight: bold;
}
#navbar{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
#amount{
    margin-top: 1px;
}

.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}
.popup .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: #fff;
    width: 850px;
    height: 500px;
    z-index: 2;
    text-align: center;
    box-sizing: border-box;
}

.popup .close{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    color: #222;
    font-size: 35px;
}
.popup.active .overlay{
    display: block;
}
.popup.active .content{
    transition: all 100ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}
